<launch>

  <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="video_device" type="string" value="/dev/video0" />
  </node>

  <include file="$(find zbar_detector)/launch/detector.launch">
	  <arg name="image_topic" value="/camera/image_raw" />
  </include>

</launch>
